// tile two

@font-face {
    font-family: 'LatinModernRomanDunhill10Rg';
    src: url('fonts/latin-modern/lmromandunh10-regular-webfont.eot');
    src: url('fonts/latin-modern/lmromandunh10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/latin-modern/lmromandunh10-regular-webfont.woff') format('woff'),
         url('fonts/latin-modern/lmromandunh10-regular-webfont.ttf') format('truetype'),
         url('fonts/latin-modern/lmromandunh10-regular-webfont.svg#LatinModernRomanDunhill10Rg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatinModernRoman10Bold';
    src: url('fonts/latin-modern/lmroman10-bold-webfont.eot');
    src: url('fonts/latin-modern/lmroman10-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/latin-modern/lmroman10-bold-webfont.woff') format('woff'),
         url('fonts/latin-modern/lmroman10-bold-webfont.ttf') format('truetype'),
         url('fonts/latin-modern/lmroman10-bold-webfont.svg#LatinModernRoman10Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LatinModernRomanDemi10Regular';
    src: url('fonts/latin-modern/lmromandemi10-regular-webfont.eot');
    src: url('fonts/latin-modern/lmromandemi10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/latin-modern/lmromandemi10-regular-webfont.woff') format('woff'),
         url('fonts/latin-modern/lmromandemi10-regular-webfont.ttf') format('truetype'),
         url('fonts/latin-modern/lmromandemi10-regular-webfont.svg#LatinModernRomanDemi10Regular') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'LatinModernRoman10Regular';
    src: url('fonts/latin-modern/lmroman10-regular-webfont.eot');
    src: url('fonts/latin-modern/lmroman10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/latin-modern/lmroman10-regular-webfont.woff') format('woff'),
         url('fonts/latin-modern/lmroman10-regular-webfont.ttf') format('truetype'),
         url('fonts/latin-modern/lmroman10-regular-webfont.svg#LatinModernRoman10Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansProRegular';
    src: url('fonts/source-sans-pro/SourceSansPro-Regular-webfont.eot');
    src: url('fonts/source-sans-pro/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/source-sans-pro/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('fonts/source-sans-pro/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('fonts/source-sans-pro/SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansProSemibold';
    src: url('fonts/source-sans-pro/SourceSansPro-Semibold-webfont.eot');
    src: url('fonts/source-sans-pro/SourceSansPro-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/source-sans-pro/SourceSansPro-Semibold-webfont.woff') format('woff'),
         url('fonts/source-sans-pro/SourceSansPro-Semibold-webfont.ttf') format('truetype'),
         url('fonts/source-sans-pro/SourceSansPro-Semibold-webfont.svg#SourceSansProSemibold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'EntypoRegular';
    src: url('fonts/entypo/entypo-webfont.eot');
    src: url('fonts/entypo/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/entypo/entypo-webfont.woff') format('woff'),
         url('fonts/entypo/entypo-webfont.ttf') format('truetype'),
         url('fonts/entypo/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@mixin latin_roman_dunhill {
	font-family: 'LatinModernRomanDunhill10Rg', "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

@mixin latin_roman {
	font-family: 'LatinModernRoman10Regular', "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

@mixin latin_roman_demi {
	font-family: 'LatinModernRomanDemi10Regular', "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	font-weight: bold;
}

@mixin latin_roman_bold {
	font-family: 'LatinModernRoman10Bold', "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	font-weight: bold;
}

@mixin source_sans_regular {
	font-family: 'SourceSansProRegular', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@mixin source_sans_semibold {
	font-family: 'SourceSansProSemibold', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
}

@mixin entypo {
    font-family: 'EntypoRegular', sans-serif;
}

$darkening_sky: rgb(71,125,167);
$picket_fence: rgb(244,245,239);
$rainwater: rgb(192,201,200);
$silhouette: rgb(4,4,4);

* { outline: none !important; }

body { font-size: 62.5%; }

.opt-2 {
border: none;
background: url(../img/textured_stripes_picketfence.png);
// background-color: $picket_fence;

	h1 {
		@include latin_roman_dunhill;
		font-size: 4.2em;
		line-height: 1em;
		font-weight: normal;
		color: $darkening_sky;
	}

	h2 {
		@include latin_roman_demi;
		font-size: 2.3em;
		color: darken($rainwater, 40%);
	}

	h3 {
		@include latin_roman;
		font-size: 1.6em;
		color: $darkening_sky;
	}

	p {
		@include source_sans_regular;
		font-size: 1.4em;
		line-height: 1.4em;
		color: $silhouette;
	}

	a {
		color: $darkening_sky;
		&:visited {
			color: darken($darkening_sky, 15%);
		}
	}

	.image {
		border: 6px solid #fff;
		@include box-shadow(2px 2px 3px 1px $rainwater);
	}

	.colors {
		.color-1 { background-color: $darkening_sky; }
		.color-2 { background-color: $picket_fence; }
		.color-3 { background-color: $rainwater; }
		.color-4 { background-color: $silhouette; }
	}

	#form2 {

		fieldset {
			padding: 1.4em;
			border: none;
			background-color: lighten($rainwater, 15%);
			@include box-shadow(inset 1px 1px 3px 1px rgba(0,0,0,0.2));
		}

		legend { display: none; }

		label {
			@include source_sans_regular;
			font-size: 1.3em;
			color: darken($rainwater, 40%);
			text-transform: uppercase;
			letter-spacing: 0.08em;
		}

		input, textarea {
			padding: 0.375em;
			@include latin_roman;
			font-size: 1.6em;
			line-height: 1.4em;
			border: 1px solid $darkening_sky;
			background-color: #fff;
			@include box-shadow(inset 1px 1px 2px lighten($darkening_sky, 20%));
			@include border-radius(2px);
		}

		input[type="submit"] {
			padding: 0.5em;
			@include background-image(linear-gradient(top, $darkening_sky 0%, darken($darkening_sky, 25%) 100%));
			font-size: 1.8em;
			line-height: 1em;
			@include source_sans_semibold;
			color: #fff;
			text-transform: uppercase;
			@include box-shadow(1px 1px 2px 0 rgba(0,0,0,0.7));
			@include border-radius(4px);
			text-shadow: 1px 1px 1px rgba(28,48,64,1);
			&:hover {
				@include background-image(linear-gradient(top, lighten($darkening_sky, 30%) 0%, lighten($darkening_sky, 5%) 100%));
			}
		}
	}
}