// one wrapper class for all IE-specific styles
.lt-ie9 {

.container {
	min-width: 900px;
}

.header {
	position: relative;
	padding-bottom: 0;
	padding-top: 24px;

	.logo {
		float: left;
		width: 175px;
	}

	.search {
		float: right;
		width: 35%;

		.text-input {
			width: 70%;
		}
	}
}

.main-nav {
	clear: both;
	position: static;
	background: none;
	display: table;
	width: 100%;
	@include opacity(1);

	.nav {
		display: table-row;
		> li {
			display: table-cell;
			text-align: center;
			padding: 3px;
			&.mobile-only { display: none; }
		}

		.menu-head { display: none; }
	}
}

.sub-nav {
	display: block;
	float: right;

	.nav {
		margin: 0;

		> li:after {
			content: "|";
			position: relative;
			margin: 0 0.5em;
		}

		li:last-child:after {
			content: "";
			position: absolute;
		}
	}
}

.main {
	float: left;
	width: 70%;
}

.product-lede {
	> img {
		display: block;
		width: 175px;
	}
}

.sidebar {
	float: left;
	width: 30%;
}

.portals-home {
	float: left;
	width: 70%;
}

.subsection {
	float: none;
	width: 85%;
}

.news-home {
	float: left;
	width: 30%;
	
	.widget {
		float: none;
		width: 100%;
	}
}


}