@mixin outline($color) {
	outline: 1px solid $color;
}

%center-relative {
	display: block;
	position: relative;
	margin: auto;
}

%no-top-margin {
	margin-top: 0;
}

// placeholder classes for wireframing

%main-structure {
	@include outline(#f00); // red
}

%section {
	@include outline(#fc0); // orange
}

%subsection {
	@include outline(#ff0); // yellow
}

%nav {
	@include outline(#0f0); // green
}

%form {
	@include outline(#f0f); // magenta
}

%widget {
	@include outline(#0bf); // blue
}